In [143]:
%matplotlib notebook
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd 
import numpy as np

In [144]:
train_data=pd.read_csv('train.csv')
train_data['Age'].replace(np.nan,train_data['Age'].median(),inplace=True)
#train_data=train_data[['Sex','Age','Pclass','SibSp','Survived']]

In [145]:
train_data.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q

In [146]:
test_data=pd.read_csv('test.csv')
test_data['Age'].replace(np.nan,test_data['Age'].median(),inplace=True)
test_data2=test_data

In [147]:
features=['Sex','Age','Pclass','SibSp','Parch']
X=pd.get_dummies(train_data[features])
y=train_data['Survived']
test_data=pd.get_dummies(test_data[features])

In [148]:
# plt.figure(figsize=(10,5))
# sns.pairplot(train_data,hue='Survived')
# plt.show()

In [149]:
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier(random_state=5)
rf_model.fit(X,y)

RandomForestClassifier(random_state=5)

In [150]:
rf_model.score(X,y)
# test_data

0.91694725028058366

In [151]:
preds=rf_model.predict(test_data)

In [152]:
output=pd.DataFrame({'PassengerId':test_data2.PassengerId,'Survived':preds})
output['Survived'].value_counts(normalize=True)

0    0.523923
1    0.476077
Name: Survived, dtype: float64

In [153]:
output.to_csv('titanic_rf1.csv',index=False)