In [95]:
import pandas as pd
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB

In [96]:
wine_data=load_wine()

In [97]:
wine_data.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [98]:
wine_data.target_names

array(['class_0', 'class_1', 'class_2'],
      dtype='<U7')

In [99]:
df=pd.DataFrame(wine_data.data,columns=wine_data.feature_names)
target=wine_data.target

In [100]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [76]:
train_X,val_X,train_y,val_y=train_test_split(df,target,test_size=0.25,random_state=69)
print(train_X.shape,train_y.shape,val_X.shape,val_y.shape)

(133, 13) (133,) (45, 13) (45,)

Using GaussianNB

In [101]:
gnb=GaussianNB()
gnb.fit(train_X,train_y)
gnb.score(val_X,val_y)

0.97777777777777775

Using MultinomialNB

In [86]:
mnb=MultinomialNB()
mnb.fit(train_X,train_y)
mnb.score(val_X,val_y)

0.82222222222222219

Analyzing the differnce between models

In [93]:
print(mnb.class_log_prior_,gnb.class_prior_)

[-1.08368664 -0.9585235  -1.27943122] [ 0.33834586  0.38345865  0.27819549]